<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" executionTimeout="300" />
		<pages asyncTimeout="300">
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
			<namespaces>
				<add namespace="ClaimKitv1.Helpers"/>
			</namespaces>
		</pages>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<appSettings>
		<!-- ClaimKitv1 API Configuration -->
		<add key="ClaimKitApiUrl" value="https://staging.claimkit.ai/ClaimkitAPI.php" />
		<add key="NewClaimKitApiUrl" value="https://staging.claimkit.ai/api/claims/emr/" />
		<add key="ClaimKitApiEnhanceEndPoint" value="doctor-notes-improve/" />
		<add key="ClaimKitApiReviewEndPoint" value="doctor-notes-review/" />
		<add key="ApiTimeoutSeconds" value="300" />
		<add key="UseNewApi" value="true" />
		<add key="DefaultDoctorEmail" value="doctor@hospital.com" />

		<!-- Hospital Configuration -->
		<add key="HospitalId" value="18" />
		<add key="ClaimKitApiKey" value="ck_473e958b43371e5291eb94dceda5dc80cce0b7d12c4b519b734c58540d76ce4a" />

		<!-- EMR API Configuration -->
		<add key="EmrApiBaseUrl" value="https://app.aster.om/emrapi/api/EMRData" />
		<add key="EmrApiBearerToken" value="VfmdHJtEnndHuzbgFQSduPdrRUU3hgZwMCe" />
		<add key="EmrApiTimeoutSeconds" value="30" />

		<!-- Default Patient Information -->
		<!--<add key="DefaultEncounterId" value="22" />
		<add key="DefaultRegistrationId" value="574927" />
		<add key="DefaultHospitalLocationId" value="1" />
		<add key="DefaultTemplateId" value="3145" />-->

		<!-- Default Patient Information -->
		<!--<add key="DefaultPatientId" value="HP00OSSAM" />
		<add key="DefaultInsuranceCompany" value="ADNIC" />
		<add key="DefaultPolicyBand" value="Gold" />
		<add key="DefaultPolicyId" value="17" />-->
		
		<!-- Default Clinician Information -->
		<!--<add key="DefaultDoctorName" value="Rafaat ahmed" />
		<add key="DefaultDoctorSpecialization" value="Pediatric Orthopedic Surgeon" />
		<add key="DefaultDoctorId" value="86" />-->
		
		<!-- Default EMR Integration Settings -->
		<add key="DefaultEncounterId" value="1544068" />
		<add key="DefaultRegistrationId" value="2209218" />
		<add key="DefaultHospitalLocationId" value="1" />
		<add key="DefaultTemplateId" value="3024" />
		<add key="AutoLoadEmrData" value="false" />

		<!-- Default Insurance Information (from EMR API response) -->
		<add key="DefaultInsuranceCompany" value="Oman Qatar Insurance Company SAOG" />
		<!--<add key="DefaultPatientId" value="HP00OSSAM" />-->											
		<add key="DefaultPolicyBand" value="Gold" />
		<add key="DefaultPolicyId" value="40" />

		<!-- Default Clinician Information (from EMR API response) -->
		<add key="DefaultDoctorName" value="HADIL SALEM" />
		<add key="DefaultDoctorSpecialization" value="Ophthalmology" />
		<add key="DefaultDoctorId" value="1577" />


		<!-- Default Clinical Information -->
		<!--<add key="DefaultDoctorNotes" value="osama 28 years old, suffering from swollen face. Patient has reported previous hypothyroidism and taking euthyrox 50. BP 120/90, heart rate 67bpm. I will request TSH, T3 test and lower dosage of levothyroxine and request MRI." />
		<add key="DefaultPatientHistory" value="[{&quot;date&quot;: &quot;14/12/2024&quot;, &quot;doctor&quot;: &quot;Dr. Smith&quot;, &quot;diagnosis&quot;: &quot;Fever&quot;, &quot;treatment&quot;: &quot;Prescribed antibiotics&quot;}]" />-->
		<add key="DefaultDoctorNotes" value="" />
		<add key="DefaultPatientHistory" value="" />
		
		<!-- Legacy Settings (for backward compatibility) -->
		<add key="DefaultPatientId" value="1544068" />
	</appSettings>
</configuration>